@using anaokulu.Models
@model anaokulu.Models.ViewModel

@{
    ViewBag.Title = "Index";
}


<div class="w3-content w3-display-container">
    <img src="~/Content/Tema/_documentation/assets/img/1.jpg" class="mx-auto d-block" style="width:100%">
</div>
<div class="jumbotron text-center bg-purple font-white" style="height:140px">
    <p style="text-align: center; font-size: 28px; line-height: 0px; font-weight: bold;font-family:Cursive;">
        <span style="color: #ffdd00;">'İlk Adım Anaokulu'</span>
        HOŞGELDİNİZ
    </p>
</div>


<div class="container">
    <a name="hakkimizda"></a>
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="cms-fancy-box-image">
                <img src="~/Content/Tema/_documentation/assets/img/icon1.png" style="background-color:#34bfdb;border-color: #0f9fbc;width:85px;height:90px;padding:20px;" class="rounded" />

            </div>
            <div class="cms-fancy-box-content-title">
                <h3 class="cms-fancy-box-title" style="color:rebeccapurple;font-family:Cursive;">
                    Okul Öncesi
                </h3>
            </div>
            <p>
                Amacımız; çocukların iletişimsel, bedensel,
                sanatsal becerilerinin ve öğrenme yeteneklerinin
                geliştirilmesi; onların sosyalleşmelerini ve ileriki
                okul yaşamına hazırlanmalarını sağlamaktır..
            </p>


        </div>
        <div class="col-sm-4 text-center">
            <div class="cms-fancy-box-image">

                <img src="~/Content/Tema/_documentation/assets/img/icon2.png" style="background-color:yellowgreen;border-color: #0f9fbc;width:85px;height:90px;padding:20px;" class="rounded" />

            </div>
            <div class="cms-fancy-box-content-title">
                <h3 class="cms-fancy-box-title" style="color:rebeccapurple;font-family:Cursive;">
                    Eğitim
                </h3>
            </div>
            <p>Öğrenme ve öğretme yaklaşımımız, çocuk merkezli oyun ve eğitim yoluyla olduğunu. Biz tam donanımlı bir Anaokuluyuz.</p>

        </div>
        <div class="col-sm-4 text-center">
            <div class="cms-fancy-box-image">

                <img src="~/Content/Tema/_documentation/assets/img/icon3.png" style="background-color:#F2784B;border-color: #0f9fbc;width:85px;height:90px;padding:20px;" class="rounded" />

            </div>
            <div class="cms-fancy-box-content-title">
                <h3 class="cms-fancy-box-title" style="color:rebeccapurple;font-family:Cursive;">
                    Okuldan Sonra
                </h3>
            </div>
            <p>Etkinlikler sanat ve el sanatları, yaratıcı oyun ve fiziksel aktiviteleri de dahil olmak üzere geniş bir yelpaze ile, personel çocukları ile meşgul olacaktır</p>

        </div>
    </div>

</div>



<div class="container">

    <hr style="border-color: lightgray;width:1200px">
    <div class="row">
        <div class="col-sm-4 text-center">

            <div class="cms-fancy-box-content-title">
                <h3 class="cms-fancy-box-title" style="color:rebeccapurple;font-family:Cursive;">
                    NEDEN İLK ADIM<br />
                    ANAOKULU<br />

                </h3>

            </div>

            <p style="font-family:cursive;">

                Amacımız; çocukların iletişimsel, bedensel,
                sanatsal becerilerinin ve öğrenme yeteneklerinin
                geliştirilmesi; onların sosyalleşmelerini ve ileriki
                okul yaşamına hazırlanmalarını sağlamaktır..<br />
            </p>
            <p style="font-family:cursive;">
                Eğitim Teknolojileri birimimiz ile teknolojiye yön veren üretimlerde bulunuyoruz.
                Tüm kampüslerimizde dünya standartlarının önünde eğitim teknolojileri kullanıyor,
                kendi oluşturduğumuz zengin program ve içeriklerle benzersiz bir eğitim veriyoruz. <br />
            </p>
            <p style="font-family:cursive;">
                Doğa Koleji olarak velilerimizin çocuklarının eğitimine gösterdiği hassasiyetin bilincindeyiz.
                Doğa Koleji web sitesi üzerinden uygulamaya konan e-Doğa ile veliler çocuklarının ders programları,
                sınıf içerisinde yapılan etkinlikler, sınav sonuçları, ayrıntılı karne raporları,
                yazılı tarihleri ve devamsızlık bilgileri gibi eğitim süreçlerimizle ilgili her veriye rahatlıkla ulaşabiliyor.

            </p>


        </div>
        <div class="col-sm-4 text-center">
            <div class="cms-fancy-box-image">

                <img src="~/Content/Tema/_documentation/assets/img/2.gif" width="700px" height="440px" />

            </div>
        </div>
    </div>
</div>


<div class="jumbotron text-center font-white" style="height: 600px;background-color:#9979ac">
    <div class="wpb_wrapper">
        <p style="text-align: center; font-size: 28px; line-height: 0px; font-weight: bold;font-family:Cursive;">
            <span style="color:white;opacity:50">PERSONELLERİMİZ<br /></span>
        </p>
    </div>
    <div class="container">
        <hr style="border-color:white;width:1100px;height:4px;">
        <p style="text-align: center; font-size: 10px; line-height: 0px; font-weight: bold;font-family:Cursive;">
            "Kalitemizi personellerimize borçluyuz"
        </p>



        @{int i = 0;

            foreach (Kullanici kul in Model.Kullanici)
            {

                if (i < 4)
                {
                    i++;


                    <div class="col-lg-3 portfolio-item">


                        <div class="portlet light portlet-fit " style="background-color:#9979ac">
                            <div class="portlet-title">
                                <div class="caption">

                                    <span class="caption-subject font-white bold uppercase">@kul.ad @kul.soyad</span>

                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="mt-element-overlay">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mt-overlay-1">
                                                <img src="~/Content/Tema/kresim/@kul.resim" />
                                                <div class="mt-overlay">
                                                    <ul class="mt-info">@kul.eposta</ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            }
        }

    </div>

</div>

<div>
    <div class="wpb_wrapper">
        <p style="text-align: center; font-size: 28px; line-height: 0px; font-weight: bold;font-family:Cursive;">
            <span style="color:#34bfdb;opacity:50">SINIFLAR<br /></span>
        </p>
    </div>
    <div class="container">
        <hr style="border-color:purple;width:1100px;height:4px;">
        @{int a = 0;
            foreach (Sinif snf in Model.Sinif)
            {

                if (a < 3)
                {
                    a++;

                    <div class="col-lg-4 portfolio-item">


                        <div class="portlet light portlet-fit " style="background-color:white">
                            <div class="portlet-title">
                                <div class="caption">

                                    <span class="caption-subject bold uppercase" style="color:#34bfdb">@snf.ad </span>

                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="mt-element-overlay">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mt-overlay-1">
                                                <img src="~/Content/Tema/sresim/@snf.resim" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        }
    </div>

</div>

@*<div class="jumbotron text-center font-white" style="height: 600px;background-color:#34bfdb">
    <div class="wpb_wrapper">
        <p style="text-align: center; font-size: 28px; line-height: 0px; font-weight: bold;font-family:Cursive;">
            <span style="color:white;opacity:50">ETKİNLİKLER<br /></span>
        </p>
    </div>
    <div class="container">
        <hr style="border-color:white;width:1100px;height:4px;">
        <p style="text-align: center; font-size: 12px; line-height: 0px; font-weight: bold;font-family:Cursive;">
            "Anaokulumuzda haftalık etkinlik, oyun ve aktivitelerle ingilizce eğitim verilmektedir."
        </p>



        @{int b = 0;

            foreach (EtkinlikResim etk in Model.EtkinlikResim)
            {

                if (b < 4)
                {
                    b++;

                    <div class="col-lg-3 portfolio-item">


                        <div class="portlet light portlet-fit " style="background-color:white">

                            <div class="portlet-body">
                                <div class="mt-element-overlay">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mt-overlay-1">
                                                <img src="~/Content/Tema/etkinlikresim/@etk.resim" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                }

            }
        }



    </div>
    @{int d = 0;

            foreach (EtkinlikResim er in Model.EtkinlikResim)
            {

                if (d < 4)
                {
                    d++;


                <div class="col-lg-3 portfolio-item">


                    <div class="portlet light portlet-fit " style="background-color:#34bfdb">

                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-1">
                                            <img src="~/Content/Tema/etkinlikresim/@er.resim" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        }
    }

</div>*@

<div class="jumbotron text-center font-white" style="height: 600px;background-color:white">
    <div class="wpb_wrapper">
        <p style="text-align: center; font-size: 28px; line-height: 0px; font-weight: bold;font-family:Cursive;">
            <span style="color:#34bfdb;opacity:50">HABERLER<br /></span>
        </p>
    </div>
    <div class="container">
        <hr style="border-color:#34bfdb;width:1100px;height:4px;">
        <p style="text-align: center; font-size: 12px; line-height: 0px; font-weight: bold;font-family:Cursive;">
            "Anaokulumuzda haftalık etkinlik, oyun ve aktivitelerle ingilizce eğitim verilmektedir."
        </p>
        @{int c = 0;

            foreach (Haber h in Model.Haber)
            {

                if (c < 4)
                {
                    c++;

                    <div class="col-lg-4">
                        <div class="portlet mt-element-ribbon light portlet-fit ">
                            <div class="ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-success uppercase">
                                <div class="ribbon-sub ribbon-clip ribbon-right"></div>@h.tarih
                            </div>
                            <div class="portlet-title">
                                <div class="caption">

                                    <span class="caption-subject font-green bold uppercase">@h.baslik</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-overlay-1">
                                        <img src="~/Content/Tema/haberresim/@h.kapakResmi" />

                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body" style="color:#34bfdb"> @h.icerik </div>
                        </div>
                    </div>
                }

            }
        }

    </div>
    @{int e = 0;

            foreach (HaberResim hr in Model.HaberResim)
            {

                if (e < 4)
                {
                    e++;


                <div class="col-lg-3 portfolio-item">


                    <div class="portlet light portlet-fit " style="background-color:white">

                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-1">
                                            <img src="~/Content/Tema/haberresim/@hr.resim" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        }
    }
</div>










