
@{
    ViewBag.Title = "Personellerimiz";
}


@using anaokulu.Models
@model List<Ogretmen>

<div class="page-content">
    <div class="container">
        @foreach (Ogretmen ogr in Model)
        {
        <div class="page-content-inner">
            <div class="profile">
                <div class="tabbable-line tabbable-full-width">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="~/Content/Tema/kresim/kk.jpg" style="height:200px" width="300px" />
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-8 profile-info">
                                            <h4 class="font-green sbold uppercase">@ogr.ad @ogr.soyad</h4>
                                            <p>
                                               @ogr.tanim
                                            </p>
                                            <p>
                                                <a> @ogr.eposta </a>
                                            </p>
                                            
                                        </div>
                                        <!--end col-md-8-->
                                        <div class="col-md-4">
                                            <div class="portlet sale-summary">
                                                <div class="portlet-title">
                                                    <div class="caption font-red sbold"> Özellik </div>
                                                   
                                                </div>
                                                <div class="portlet-body">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <span class="sale-info">
                                                                Branş :
                                                                <i class="fa fa-img-up"></i>
                                                            </span>
                                                            <span class="sale-num"> @ogr.brans </span>
                                                        </li>
                                                        <li>
                                                            <span class="sale-info">
                                                                Kayıt Tarihi :
                                                                <i class="fa fa-img-down"></i>
                                                            </span>
                                                            <span class="sale-num">@String.Format("{0:dd/MM/yyyy}", ogr.kayitTarih)</span>
                                                        </li>
                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-md-4-->
                                    </div>
                                    <!--end row-->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
