
@{
    ViewBag.Title = "EtkinlikGuncelle";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using anaokulu.Models

<div class="tab-pane active" id="tab_0">
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gavel"></i>ETKİNLİK GÜNCELLE
            </div>

        </div>

        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="/Etkinlik/EtkinlikGuncelle" class="form-horizontal" method="post" role="form">
                <input type="hidden" name="etkinlikID" value="@Model.etkinlikID" />
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            AD
                            <span class="required" aria-required="true">*</span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" name="ad" class="form-control" value="@Model.ad" aria-required="true" aria-describedby="error">
                            @*<span class="help-block"> bu alanın doldurulması zorunludur! </span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">AÇIKLAMA<span class="required" aria-required="true">*</span></label>
                        <div class="col-md-4">
                            <textarea type="text" rows="2" name="aciklama" value="@Model.aciklama" class="form-control"></textarea>
                            @*<span class="help-block"> A block of help text. </span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">TARİH<span class="required" aria-required="true">*</span></label>
                        <div class="col-md-4">
                            <input type="text" name="tarih" value="@Model.tarih" class="form-control">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">SINIF<span class="required" aria-required="true">*</span></label>
                        <div class="col-md-4">
                            @*<div class="select-height">*@
                            @Html.DropDownList("sinifID", (SelectList)ViewBag.Sinif, "Sınıf Seçiniz", new { @class = "form-control" })
                            @*<select class="form-control" name="yetkiID">

                                    @foreach (Yetki y in ViewBag.Yetki)
                                    {
                                        <option value="@y.yetkiID">@y.ad</option>

                                    }

                                </select>*@

                            @*</div>*@
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-circle green">GÜNCELLE</button>
                            <a href="/Sinif/Index" class="btn btn-circle grey-salsa btn-outline">İPTAL</a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>

    </div>
</div>



